html {
  background-color: #F7F8ED;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0 auto;
  width: 90%;
  font-size: 16px;
  max-width: 700px;
  padding: 16px;
  line-height: 150%;
  min-height: 100vh;
  position: relative;
  color: #28241C;
  /*color: #0e1111;*/
}


h1 {
  color: #05668D;
  line-height: 120%;
  font-size: 28px;
}

h2{
  color: #028090;
}

h3{
  color: #00A896;
}

hr.dotted {
  border-top: 3px dotted #83c5be;
  margin: 15px 0px;
}

* {
  box-sizing: border-box;
}

/* nav styles */

a{
  color: #05668D;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}


.nav-links {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px 10px 20px 10px;
}

.nav-links a {
  padding: 10px 10px;
  color: #028090;
  text-decoration: none;
  font-size: calc(15px + 0.5vw);
  font-weight: bold;
  line-height: 150%;
  margin: 10px 10px;

}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #F0F3BD;
} 

/* footer styles */

body::after {
  content: '';
  display: block;
  height: 80px;
  /* Set same as footer's height */
}

.footer {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 20px;
  height: 80px;
  bottom: 0;
}

.footer i {
  color: #83c5be;
  padding: 3px;
}

.footer i:hover,
.footer i:focus {
  color: #028090;

}

li{
  padding: 3px 0px;
}

img{
  display:flex;
  max-width: 100%;
  height: auto;
  justify-content: center;
  border: 1px solid lightgray;
  margin: 0 auto;
}
