---
import type { TRANSITION_AFTER_PREPARATION } from "astro:transitions/client";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>About</h1>
        <p>Hi, I'm MB. 👋</p>
        <p>I'm currently a Growth Marketer at <a href="https://www.stytch.com" target="_blank">Stytch</a>, a developer tools startup. Previously, I worked as a consultant at Bain & Co., and as an extern on the Strategy team at Codecademy.</p>
        <p>Outside of work, I enjoy running, reading, scuba diving, playing NYT Games, watching UVA basketball, and trying new restaurants.</p>
        <p>I also volunteer as a docent and tour guide at the <a href="https://merchantshouse.org" target="_blank">Merchant's House Museum</a>. Previously, I gave tours in Charlottesville with UVA's <a href="https://www.uvaguides.org/" target="_blank">University Guide Service</a>, and of Boston's Freedom Trail with <a href="https://bostonbyfoot.org/" target="_blank">Boston by Foot.</a></p>
        <p>If you ever want to chat, feel free to reach out on <a href="https://linkedin/in/maryboydcrosier" target="_blank">LinkedIn</a> or <a href="mailto:mbcrosier@gmail.com">via email</a>.</p></p>
	</body>
</html>
