---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Blog";
const allPosts = await Astro.glob('../pages/posts/*.mdx');
---
<BaseLayout pageTitle={pageTitle}>
	<p>Read more below!</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />)}
	</ul>
</BaseLayout>