---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Hi, I'm MB 👋</p>
  <p>
    I'm currently a student in Harvard's <a href="https://www.hbs.edu/mba/academic-experience/joint-degree-programs/Pages/ms-mba-engineering-sciences.aspx">MS/MBA: Engineering Sciences program</a>. I also write a Substack called <a href="https://www.mcpincontext.com/">MCP in Context</a>, where I share my learnings about the Model Context Protocol.
  </p>
  <p>
    Previously, I've worked at <a href="https://www.stytch.com">Stytch</a>, <a href="https://www.bain.com">Bain & Co</a>, and <a href="https://www.codecademy.com">Codecademy</a> in strategy & ops and marketing roles. I'm also a proud UVA alum - go hoos!
  </p>
  <p>
    This site is a collection of my thoughts and resources I find useful, mostly focused on tech- and startup-related topics. 
  </p>
  <p>
    If you want to chat more about
    anything on here, <i>or</i> about anything <i>not</i> on here (e.g. running, crosswords, travel,
    local history), don't hesitate to <a
      href="mailto:mbcrosier@gmail.com">reach out</a
    >!
  </p>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 12px;
    background-color: #f8fcfd;
  }

  p {
    margin: 16px 10px 16px 20px;
  }
</style>
