---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Hi, I'm MB 👋</p>
  <p>
    Welcome to my personal site, built using <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    > and a lot of probably-suboptimal CSS.
  </p>
  <p>
    This site exists partly as coding practice and partly as a place to write
    about topics I find interesting or projects I'm working on. It's imperfect
    in many ways, and perfect in others.
  </p>
  <p>
    While there are many things I enjoy and find interesting, this site is
    focused on tech- and startup-related topics. If you want to chat more about
    anything on here, or about anything not on here (e.g. running, crosswords,
    local history, urban planning, you name it), don't hesitate to <a
      href="mailto:mbcrosier@gmail.com">reach out</a
    >.
  </p>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 12px;
    background-color: #f8fcfd;
  }

  p {
    margin: 16px 10px 16px 20px;
  }
</style>
