---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Coming soon!</p>
  <p>This will feature NYC RSVPs, my Connections analysis, and other things to come.</p>
</BaseLayout>