---
import PostListLayout from '../layouts/PostListLayout.astro';
const pageTitle = "Thoughts";
---
<PostListLayout pageTitle={pageTitle}>
	<p>A collection of posts on a range of things.</p>
 </PostListLayout>