---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Travel";
const allPosts = await Astro.glob('../pages/posts/*.md');
const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(pageTitle));
---
<BaseLayout pageTitle={pageTitle}>
  <p>Very detailed travel itineraries</p>
  <ul>
		{filteredPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>