---
const { url, title, description } = Astro.props;
---
<a href={url} class="post-link">{title}</a>
<p class="post-description">{description}</p>




<style>
 .post-link{
 }

 .post-description{
    margin: 0px 0px 20px 0px;
 }
  
</style>