---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import HeaderImage from './HeaderImage.astro';
---

<head>
    <nav>
        <HeaderImage />
        <Hamburger />
        <Navigation />
    </nav>
</head>