---
import { Image } from 'astro:assets';
import mbHeadshot from '../assets/mb-no-background.png';
const { src, ...attrs } = Astro.props;
---
<div>
        <Image src={mbHeadshot} alt="Headshot of MB Crosier" />
      <h1>MB Crosier</h1>
</div>

<style>
  img {
    border-radius: calc(40px + 5vw);
    width: calc(40px + 5vw);
    height: calc(40px + 5vw);
    margin: 0px 10px;
    --main-bg-color: #83c5be;
    background-color: var(--main-bg-color); /* to do: make random color generation */ 
  }

  img:hover {
    background-color: #05668D;
  }

  h1{
    font-size:calc(30px + 3vw);
    font-family: "Yellowtail", cursive;
    padding: 0px 10px;
    color: #05668D;
    margin: 16px 0;
    line-height: 100%;

  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
  }

</style>