---
const { embedSrc } = Astro.props;
---

<div class="linkedin-embed">
  {embedSrc ? (
    <iframe
      src={embedSrc}
      height="570"
      width="100%"
      frameborder="0"
      allowfullscreen=""
      title="Embedded LinkedIn Post"
    ></iframe>
  ) : (
    <p>No LinkedIn embed source provided.</p>
  )}
</div>

<style>
  .linkedin-embed {
    margin: 2rem 0;
  }
</style> 