---

---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/thoughts/">Thoughts</a>
    <a href="/projects/">Projects</a>
</div>
<div class="social-links">
    <a href="https://www.linkedin.com/in/maryboydcrosier">LinkedIn</a>
    <a href="https://www.twitter.com/mb_crosier">Twitter</a>
    <a href="https://www.github.com/mbcrosier">GitHub</a>
</div>