---
import '../styles/global.css';
const { pageTitle } = Astro.props;
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta charset="utf-8" />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:site_name" content="MB Crosier" />
		<!-- fonts and icons -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yellowtail&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1a310a18cd.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav>
			<Header />
			<Navigation />
	    </nav>
        <slot />
		<script async>
			import { inject } from "@vercel/analytics";
			inject()
		</script>
		<Footer />
	</body>
</html>
